<div class="main-container">
  <header class="fullscreen-element no-pad centered-text  okconde home_fix">
    <div class="background-image-holder parallax-background overlay">
      <a href="#" class="background-image"> <%= image_tag "background.jpg" %></a>
    </div>

    <%= render "layouts/search_bar" %>
  </header>
</div>
<div style="background: white">
  <section class="popular">
    <div class="container">
      <div class="title text-center m-b-30">
        <h2 class="all-paiting">My BookMarks</h2>
        <p class="lead enjoy-beauty">Enjoy the beauty of art</p>
      </div>
      <div class="row">
        <% @bookmarks.each do |p| %>
        <% if p.status == true %>
          <div class="col-md-4 food-item">
            <div class="food-item-wrap">
              <div class="figure-wrap bg-image">
                <% if p.picture.images? %>
                  <%= image_tag p.picture.images.url, class: "resize-image" %>
                <% end %>
                <div class="rating2 fa-show-picture" id="fa-show-picture" score= <%= p.picture.average_rate %>>
                </div>
              </div>
              <div class="content">
                <h5 class="post-name"><%= link_to p.picture.name, picture_path(p) %></h5>
                <div class="poster-position">
                  <div class="category-name"><%= p.picture.category %></div>
                  <div class="made-by">Made by <%= p.picture.user.username %></div>
                </div>
              </div>
              <div class="restaurant-block">
                <div class="left">
                  <div class="pull-left right-text">
                    <span><%= truncate(p.picture.description, length: 150, separator: " ") %></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </section>
</div>
<script>
    $('div#star-rating-design').raty({
        path: '/assets/',
        number: 5,
        score: function () {
            return $(this).attr('score');
        },
        scoreName: 'review[rating]',
        readOnly: false,
        starOn: 'star-on.png',
        half: true,
        starType: 'img',
        click: function (score) {
            var picture_id = $(this).attr('picture_id');
            $.ajaxSetup({
                headers: {
                    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
                }
            });
            $.ajax({
                type: 'POST',
                url: '/rating_pictures/',
                dataType: 'json',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                },
                data: {
                    design_rate: score,
                    picture_id: picture_id,
                },
                success: function (data) {
                    alert(data.message);
                },
                error: function (data) {
                    alert(data.message);
                }
            });
        }
    });
    $('div#star-rating-price').raty({
        path: '/assets/',
        number: 5,
        score: function () {
            return $(this).attr('score');
        },
        scoreName: 'review[rating]',
        readOnly: false,
        starOn: 'star-on.png',
        half: true,
        starType: 'img',
        click: function (score) {
            var picture_id = $(this).attr('picture_id');
            $.ajaxSetup({
                headers: {
                    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
                }
            });
            $.ajax({
                type: 'POST',
                url: '/rating_pictures/',
                dataType: 'json',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                },
                data: {
                    price_rate: score,
                    picture_id: picture_id,
                },
                success: function (data) {
                    alert(data.message);
                },
                error: function (data) {
                    alert(data.message);
                }
            });
        }
    });
    $('div#fa-show-picture').raty({
        path: '/assets/',
        number: 5,
        readOnly: true,
        score: function () {
            return $(this).attr('score');
        },
        scoreName: 'review[rating]',
        starOn: 'star-on.png',
        half: true,
        starType: 'img',
    });

</script>
