<div class="main-container">
  <header class="page-header">
    <div class="background-image-holder parallax-background okconde">
          <a href="#" class="background-image"> <%= image_tag "side3.jpg" %></a>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <span class="text-white alt-font">Meet The Team</span>
          <h1 class="text-white">My Gallery</h1>
          <p class="text-white lead">Learn why we're the best at what we do<br>and why we're regarded as one of the best<br>in the creative industry today.</p>
        </div>
      </div><!--end of row-->
    </div><!--end of container-->
  </header>
  <% if user_signed_in? %>
    <section class="popular">
      <div class="container">
        <div class="title text-center m-b-30">
          <h2>Your painting and artwork</h2>
          <p class="lead">Enjoy the beauty of art</p>
        </div>
        <%= paginate @picture, theme: "twitter-bootstrap-4" %>
        <div class="row">
          <% @picture.each do |p| %>
            <div class="col-md-4 food-item">
              <div class="food-item-wrap">
                <div class="figure-wrap bg-image">
                  <% if p.images? %>
                    <%= image_tag p.images.url, class: "resize-image" %>
                  <% end %>
                    <div class="rating2 fa-show-picture" id="fa-show-picture" score = <%= p.average_rate %>>
                    </div>
                </div>
                <div class="content">
                  <h5><%= link_to p.name, picture_path(p) %></h5>
                  <div class="product-name"><%= p.category %></div>
                  <div class="price-btn-block"><span class="price"><%= p.price.round %> VND</span>
                  </div>
                </div>
                <div class="restaurant-block">
                  <div class="left">
                    <br>
                    <div class="pull-left right-text">
                      <span><%= truncate(p.description, length: 150, separator: " ") %></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </section>
  <% end %>


  <!-- <section class="contact-thirds">
    <div class="container">
      <div class="row">
          <div class="col-sm-12 text-center">
            <h1>Contact Us<br>
            We'd love to hear from you
            </h1>
          </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <h5>Enquiries</h5>
          <p>
            Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus.
          </p>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>

        <div class="col-sm-4 text-center">
          <h5>Details</h5>
          <p class="lead">
            + 61 5736 4928<br>
            hello@pivot.net<br>
            <br>
            300 Collins St<br>
            Melbourne 3000
          </p>
        </div>

        <div class="col-sm-4">
          <h5>Leave A Message</h5>
          <div class="form-wrapper clearfix">
            <form class="form-contact email-form">
              <div class="inputs-wrapper">
                <input class="form-name validate-required" type="text" placeholder="Your Name" name="name">
                <input class="form-email validate-required validate-email" type="text" placeholder="Your Email Address" name="email">
                <textarea class="form-message validate-required" name="message" placeholder="Your Message"></textarea>
              </div>
              <input type="submit" class="send-form" value="Send Form">
              <div class="form-success">
                <span class="text-white">Message sent - Thanks for your enquiry</span>
              </div>
              <div class="form-error">
                <span class="text-white">Please complete all fields correctly</span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section> -->
</div>
