<div class="main-container">
      <header class="page-header">
        <div class="background-image-holder parallax-background okconde">
              <a href="#" class="background-image"> <%= image_tag "side3.jpg" %></a>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <span class="text-white alt-font">Meet The Team</span>
              <h1 class="text-white">Help Us</h1>
              <p class="text-white lead">Learn why we're the best at what we do<br>and why we're regarded as one of the best<br>in the creative industry today.</p>
            </div>
          </div><!--end of row-->
        </div><!--end of container-->
      </header>
      <section class="team-2">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h1>We've a killer team at the helm</h1>
            </div>
          </div><!--end of row-->

          <div class="row">
            <div class="col-md-4 col-md-offset-2 col-sm-6">
              <div class="team-2-member">
                <div class="image-holder">
                    <a href="#" class="background-image"> <%= image_tag "dai.jpg" %></a>
                  <div class="hover-state">
                    <ul class="social-icons align-vertical">
                      <li>
                        <a href="#">
                         <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                      </li>

                      <li>
                        <a href="#">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                      </li>

                      <li>
                        <a href="#">
                    <i class="fa fa-dribbble" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <span class="name">Bui Quang Dai</span>
              </div>
            </div>

            <div class="col-md-4 col-sm-6">
              <div class="team-2-member">
                <div class="image-holder">
                    <a href="#" class="background-image"> <%= image_tag "t.jpg" %></a>
                  <div class="hover-state">
                    <ul class="social-icons align-vertical">
                      <li>
                        <a href="#">
                         <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                      </li>

                      <li>
                        <a href="#">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                      </li>

                      <li>
                        <a href="#">
                    <i class="fa fa-dribbble" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <span class="name">Hoang Viet Thai</span>

              </div>
            </div>
          </div><!--end of row-->

          <div class="row">
            <div class="col-md-4 col-md-offset-2 col-sm-6">
              <div class="team-2-member">
                <div class="image-holder">
                    <a href="#" class="background-image"> <%= image_tag "duc.jpg" %></a>
                  <div class="hover-state">
                    <ul class="social-icons align-vertical">
                      <li>
                        <a href="#">
                         <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                      </li>

                      <li>
                        <a href="#">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                      </li>

                      <li>
                        <a href="#">
                    <i class="fa fa-dribbble" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <span class="name">Le Huynh Duc</span>

              </div>
            </div>

            <div class="col-md-4 col-sm-6">
              <div class="team-2-member">
               <div class="image-holder">
                    <a href="#" class="background-image"> <%= image_tag "th.jpg" %></a>
                  <div class="hover-state">
                    <ul class="social-icons align-vertical">
                      <li>
                        <a href="#">
                         <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                      </li>

                      <li>
                        <a href="#">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                      </li>

                      <li>
                        <a href="#">
                    <i class="fa fa-dribbble" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <span class="name">Tran Van Thien</span>
              </div>
            </div>
          </div><!--end of row-->


        </div><!--end of container-->
      </section>
