<div class="main-container">
  <header class="fullscreen-element no-pad centered-text okconde home_fix">
    <div class="background-image-holder parallax-background overlay">
      <a href="#" class="background-image"> <%= image_tag "background.jpg" %></a>
    </div>

    <div class="container">
      <div class="row">
        <div class="dme col-md-12 text-center">
          <span class="text-white alt-font ok1">Painting Every Day</span>
          <h1 class="text-white">Each picture is a life worthy of humanity</h1>
          <p class="lead text-white">Welcome to Diamond Team</p>
        </div>
        <%= search_form_for @q, :url => url_for(:controller => "pictures", :action => "pictures_search") do |f| %>
          <div id="custom-search-input">
            <div class="input-group">
              <%= f.search_field :user_username_cont, class: "search-query search_username", placeholder: "Author's name" %>
              <%= f.search_field :name_cont, class: "search-query search_picturename", placeholder: "Enter picture name" %>
              <span class="input-group-btn">
               <%= f.submit "Search", class: "btn_search" %>
                  </span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </header>
</div>
<div style="background: white">
  <section class="popular">
    <div class="container">
      <div class="title text-center m-b-30">
        <h2>The picture you need to find</h2>
        <p class="lead">Enjoy the beauty of art</p>
      </div>
      <% if !@result.empty? %>

        <%= paginate @result, theme: "twitter-bootstrap-4" %>
        <div class="row">

          <!-- Each popular food item starts -->
          <% @result.each do |p| %>
            <div class="col-md-4 food-item">
              <div class="food-item-wrap">
                <div class="figure-wrap bg-image">
                  <%= image_tag p.images.url if p.images? %>
                  <div class="rating pull-left"><i class="fa fa-star"></i> <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></div>
                  <div class="review pull-right"><a href="#">198 reviews</a></div>
                </div>
                <div class="content">
                  <!--                                <h5><a href=""><%#= p.name %></a></h5>-->
                  <h5><%= link_to p.name, picture_path(p) %></h5>
                  <div class="product-name"><%= p.category %></div>
                  <div class="price-btn-block"><span class="price"><%= p.price %> VND</span>
                    <a href="#" class="btn theme-btn-dash pull-right">Order Now</a></div>
                </div>
                <div class="restaurant-block">
                  <div class="left">
                    <a class="pull-left" href="#"><%= image_tag "logo1.png" %></a>
                    <div class="pull-left right-text"><a href="#">Description</a> <span><%= p.description %></span>
                    </div>
                  </div>
                  <div class="right-like-part pull-right"><i class="fa fa-heart-o"></i> <span>48</span></div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="alert display: inline-block">
          <i class="fa fa-hand-o-right" aria-hidden="true"></i> <h4 style="color: red">No imformation</h4>
        </div>
      <% end %>
    </div>
  </section>

</div>
