<div class="main-container">
  <header class="fullscreen-element no-pad centered-text  okconde">
    <div class="background-image-holder parallax-background overlay">
      <a href="#" class="background-image"> <%= image_tag "background.jpg" %></a>
    </div>

    <div class="container">
      <div class="row">
        <div class="dme col-md-12 text-center">
          <span class="text-white alt-font ok1">Painting Every Day</span>
          <h1 class="text-white">Each picture is a life worthy of humanity</h1>
          <p class="lead text-white">Welcome to Diamond Team</p>
        </div>
      </div>
    </div>
  </header>
  <section class="article-single">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
          <div class="article-body">
            <p class="lead">
              <%= @picture.name %>
            </p>
            <a>Rating :</a>
            <div class="rating2">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>

            <figure>
              <%= image_tag @picture.images.url if @picture.images? %>
              <figcaption><%= @picture.name %></figcaption>
            </figure>
            <h3><%= @picture.description %></h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
          <br>
          <div class="price">
            <span class="price"><%= @picture.price.round %> VND</span>
          </div>


        </div>
      </div><!--end of row-->

      <%= commontator_thread(@picture) %>

    </div><!--end of container-->
  </section>
</div>

