<div class="main-container">
  <header class="fullscreen-element no-pad centered-text  okconde">
    <div class="background-image-holder parallax-background overlay">
      <a href="#" class="background-image"> <%= image_tag "background.jpg" %></a>
    </div>

    <div class="container">
      <div class="row">
        <div class="dme col-md-12 text-center">
          <span class="text-white alt-font ok1">Painting Every Day</span>
          <h1 class="text-white title-diamond">Each picture is a life worthy of humanity</h1>
        </div>
      </div>
    </div>
  </header>
  <section class="article-single">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 show-pic">
          <div class="article-body">
            <p class="lead lead-name">
              <%= @picture.name %>
            </p>
            <div class="price made-by">
              Made by <%= @picture.user.username %>
            </div>
            <figure>
              <%= image_tag @picture.images.url if @picture.images? %>
              <figcaption class="descript-show"><%= @picture.description %></figcaption>
            </figure>
          </div>
        </div>
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 show-pic">
          <h3 class="valuate_text">Valuate</h3><br>
          <% if @rate %>
            <div class="row">
              <h5 class="show-valuate">Design</h5>
              <div class="rating2 valuate" id="star-rating-design" score=<%= @rate.design_rate %> picture_id=<%= @picture.id %>>
              </div>
            </div>
            <br>
            <div class="row">
              <h5 class="show-valuate">Price</h5>
              <div class="rating2 valuate" id="star-rating-price" score=<%= @rate.price_rate %> picture_id=<%= @picture.id %>>
              </div>
            </div>
            <br>
            <div class="row">
              <h5 class="show-valuate">Average</h5>
              <div class="valuate rating2 fa-show-picture" id="fa-show-picture" score=<%= @picture.average_rate %>>
              </div>
            </div>
          <% else %>
            <div class="row">
              <h5 class="show-valuate">Design</h5>
              <div class="rating2 valuate" id="star-rating-design" score="0" picture_id=<%= @picture.id %>>
              </div>
            </div>
            <br>
            <div class="row">
              <h5 class="show-valuate">Price</h5>
              <div class="rating2 valuate" id="star-rating-price" score="0" picture_id=<%= @picture.id %>></div>
            </div>

            <br>
            <div class="row">
              <h5 class="show-valuate">Average</h5>
              <div class="valuate rating2 fa-show-picture" id="fa-show-picture" score=<%= @picture.average_rate %>>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <%= commontator_thread(@picture) %>
    </div><!--end of container-->
  </section>
</div>

<script>
    $('div#star-rating-design').raty({
        path: '/assets/',
        number: 5,
        score: function () {
            return $(this).attr('score');
        },
        scoreName: 'review[rating]',
        readOnly: false,
        starOn: 'star-on.png',
        half: true,
        starType: 'img',
        click: function (score) {
            var picture_id = $(this).attr('picture_id');
            $.ajaxSetup({
                headers: {
                    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
                }
            });
            $.ajax({
                type: 'POST',
                url: '/rating_pictures/',
                dataType: 'json',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                },
                data: {
                    design_rate: score,
                    picture_id: picture_id,
                },
                success: function (data) {
                },
                error: function (data) {
                }
            });
        }
    });
    $('div#star-rating-price').raty({
        path: '/assets/',
        number: 5,
        score: function () {
            return $(this).attr('score');
        },
        scoreName: 'review[rating]',
        readOnly: false,
        starOn: 'star-on.png',
        half: true,
        starType: 'img',
        click: function (score) {
            var picture_id = $(this).attr('picture_id');
            $.ajaxSetup({
                headers: {
                    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
                }
            });
            $.ajax({
                type: 'POST',
                url: '/rating_pictures/',
                dataType: 'json',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                },
                data: {
                    price_rate: score,
                    picture_id: picture_id,
                },
                success: function (data) {
                },
                error: function (data) {
                }
            });
        }
    });
    $('div#fa-show-picture').raty({
        path: '/assets/',
        number: 5,
        readOnly: true,
        score: function () {
            return $(this).attr('score');
        },
        scoreName: 'review[rating]',
        starOn: 'star-on.png',
        half: true,
        starType: 'img',
    });
</script>