   <div class="nav-container">
      <nav class="top-bar overlay-bar">
        <div class="container">
          <div class="row utility-menu">
            <div class="col-md-12">
              <div class="utility-inner clearfix">
                <span class="alt-font"><i class="fa fa-map-marker" aria-hidden="true"></i></i> 300 Collins St Melbourne</span>
                <span class="alt-font"><i class="fa fa-envelope-open" aria-hidden="true"></i></i> hello@pivot.net</span>

                <div class="pull-right">
                  <a href="#" class="btn btn-primary login-button btn-xs">Login</a>
                  <a href="#" class="btn btn-primary btn-filled btn-xs">Signup</a>
                    <a href="#" class="language"><%= image_tag "english.png" %></a>
                   <a href="#" class="language"> <%= image_tag "denmark.png" %></a>
                </div>
              </div>
            </div>
          </div><!--end of row-->


          <div class="row nav-menu">
            <div class="col-md-2 columns">
                <a href="#" class="logo logo-light"><%= image_tag "logo-light.png" %>
                 <a href="#" class="logo logo-dark"><%= image_tag "logo-dark.png" %>
            </div>

            <div class="col-md-10 columns">
              <ul class="menu">
                <li class="has-dropdown"><a href="#">Home Pages</a>
                </li>
                <li class="has-dropdown"><a href="#">Pages</a>
                </li>
                <li class="has-dropdown"><a  href="#">Blog</a>
                </li>
                <li class="has-dropdown"><a href="#">Contact</a>
                </li>
              </ul>

              <ul class="social-icons text-right">
                <li>
                  <a href="#">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                </li>

                <li>
                  <a href="#">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                </li>

                <li>
                  <a href="#">
                   <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div><!--end of row-->

          <div class="mobile-toggle">
            <i class="icon icon_menu"></i>
          </div>

        </div><!--end of container-->
      </nav>
    </div>
    <div class="main-container">
      <header class="fullscreen-element no-pad centered-text  okconde">
        <div class="background-image-holder parallax-background overlay">
          <a href="#" class="background-image"> <%= image_tag "background.jpeg" %></a>
        </div>

        <div class="container">
          <div class="row">
            <div class="dme col-md-12 text-center">
              <span class="text-white alt-font ok1">DISCOVER Pivot TODAY</span>
              <h1 class="text-white">Themeforest's most popular HTML page building<br>template is now even more powerful.</h1>
              <p class="lead text-white">Tons of elements, Consistent style, Variant builder included.</p>
              <a target="_blank" href="http://www.mediumra.re/pivot/variant/builder.html" class="btn btn-primary btn-white">Customize Pivot</a>
              <a href="http://themeforest.net/item/pivot-responsive-multipurpose-html-with-builder-v141/8748103" class="btn btn-primary btn-filled" target="_blank">Purchase Pivot</a>
            </div>
          </div><!--end of row-->
        </div><!--end of container-->
      </header>
    </div>
